*{
  position: relative;
  background-color: black;
  width: 100%;
  height: 100%;
}
section{
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 10%;
  width: 1360px;
  height: 780px;
}
section div{
  width: 10%;
  height: 100%;
  filter: grayscale(50);
  transition: .5s;
}
.mainposter{
  position: absolute;
  background: url("./img/main.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  z-index: 8;
  width: 50%;
}

.starroad{
  background: url("./img/starroad.jpg");
  background-size: cover;
  background-position: center;
}
.rocket{
  background: url("./img/rocket.jpg");
  background-size: cover;
  background-position: center;
}
.groot{
  background: url("./img/groot.webp");
  background-size: cover;
  background-position: center;
}
.kraglin{
  background: url("./img/kraglin.jpg");
  background-size: cover;
  background-position: center;
}
.mantis{
  background: url("./img/mantis.jpg");
  background-size: cover;
  background-position: center;
}

section div:hover {
  width: 30%;
  filter: grayscale(0);
}
