*{
  position: relative;
  background-color: black;
  width: 100%;
  height: 100%;
}
section{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
  height: 60%;
}
section div{
  width: 10%;
  height: 100%;
  filter: grayscale(50);
}

.starroad{
  background: url("./img/starroad.jpg");
  background-size: cover;
  background-position: center;
}
.rocket{
  background: url("./img/rocket.jpg");
  background-size: cover;
  background-position: center;
}
.groot{
  background: url("./img/groot.webp");
  background-size: cover;
  background-position: center;
}
.kraglin{
  background: url("./img/kraglin.jpg");
  background-size: cover;
  background-position: center;
}
.mantis{
  background: url("./img/mantis.jpg");
  background-size: cover;
  background-position: center;
}